body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 1200px;
}
/* ---------------------- look and feel ------------------------ */

.header ul li {
  padding: 0 10px;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  list-style-type: none;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 0;
}

.hero p,
img {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  color: #fff;
  border-radius: 5px;
  border: 0px;
  font-size: 300;
  padding: 5px 10px;
}

.hero-left,
.hero-right {
  padding: 60px 20px;
}

.content-1 h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.content-1 {
  background-color: #fff;
}

.content-1 img {
  height: 100px;
  width: 100px;
  border: 1px solid blue;
  border-radius: 10px;
}

.content-1-img {
  text-align: center;
  padding: 0 10px;
}

.content-2 {
  background-color: #e5e7eb;
  padding: 30px;
}

.content-2 p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.content-2 p:nth-of-type(2) {
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
}

.call-to-action, 
button {
  background-color: #3882f6;
}

/* ---------------------- flexbox styling ------------------------ */

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul li {
  padding-left: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-1 {
  display: flex;
  flex-direction: column;
}

.content-1-images {
  display: flex;
  justify-content: center;
}

.content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.call-to-action-container{
  background-color: white;
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: white;
}
