* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #000; */
}

.hero,
.footer,
.nav {
  background-color: #1f2937;
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px 50px 20px;
}
.nav-logo {
  font-size: 20px;
  color: #f9faf8;
  width: 400px;
}
.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 300;
  width: 400px;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* Hero */
.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px 0px 40px 0px;
}
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 450px;
  padding: 0px 20px 0px 0px;
}
.hero-left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #e5e7eb;
}
.hero-left p {
  font-weight: 300;
  font-size: 18px;
  color: #e5e7eb;
}
.hero-left button {
  background: #3882f6;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 5px 15px;
}
.hero-right {
  width: 350px;
  /* padding: 50px; */
}
.hero-right p {
  font-size: 18px;
  color: #e5e7eb;
}
.hero-img {
  width: 100%;
}

/* Random */
.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
.random h2 {
  padding-bottom: 20px;
}
.random-images {
  display: flex;
  width: 800px;
  text-align: center;
  font-weight: 300;
  gap: 20px;
}
.random-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid blue;
  border-radius: 5px;
}
.random h2 {
  text-align: center;
}

/* Quote */
.quote-container {
  width: 100%;
}
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}
.quote p {
  width: 600px;
  font-size: 30px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}
.quote-sig {
  text-align: right;
  font-weight: 500;
}

/* Call to Action */
.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 75px 0;
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  width: 800px;
  height: 125px;
}
.call-to-action-left {
  color: white;
  padding: 0 75px;
  border-radius: 10px;
}
.call-to-action-left p {
  font-weight: 300;
}
.call-to-action-right {
  padding: 0 50px;
}
.call-to-action-right button {
  border: 1px solid #fff;
  background: #3882f6;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #f9faf8;
  height: 70px;
}
